//
// Contact section styling
//

section#contact {
    background-color: $gray-900;
    background-image: url("../assets/img/map-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 50px;
    text-align: center;

    .section-heading {
        color: black;
    }

    .container{
        background: white;
        border: 2px solid black;
        border-radius: 10px;
        max-width: 400px;
        padding: 10px;

        .contact-info{
            margin-top:20px;
            .contact{
                margin-top:10px;
            }
            .number{
                margin-top:10px;
            }
        }
    }
}
