// Portfolio item 12 modal popup
#portfolioModal12.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Masterchef Gitte only
                            p.item-intro.text-muted Kage
                            img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/12.jpg', alt='...')
                            p Dette er et gave tilbud til Gitte, Du må meget gerne komme med en kage i stedet for en gave, No pressure ^^
