// Portfolio item 7 modal popup
#portfolioModal7.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Silikone Hagesmæk
                            img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/7.jpg', alt='...')
                            a.link(href='https://www.babysam.dk/spisetid-pleje-spisetid-hagesmaekke?materiale=silikone' target='_blank') link
